<h1>Wordpress Foundation Starter Theme</h1>

<p>A starting point for Wordpress Themes, built on <a href="http://foundation.zurb.com/">Foundation</a></p>

<p>It is packaged as a submodule of <a href="https://bitbucket.org/andrewcroce/wordpress-skeleton">WordPress-Skeleton, Fork</a></p>

<h2>Packaged Plugins</h2>

<ul>
<li><a href="http://www.advancedcustomfields.com/">Advanced Custom Fields</a></li>
<li><a href="http://www.advancedcustomfields.com/add-ons/options-page/">Advanced Custom Fields Addon: Options Page</a> <strong>License Required</strong></li>
<li><a href="http://www.advancedcustomfields.com/add-ons/repeater-field/">Advanced Custom Fields Addon: Repeater Field</a> <strong>License Required</strong></li>
<li><a href="http://www.gravityforms.com/">Gravity Forms</a> <strong>License Required</strong></li>
</ul>


<h2>Requirements</h2>

<ul>
<li><a href="http://nodejs.org">Node.js</a></li>
<li><a href="http://bower.io">bower</a>: <code>npm install bower -g</code></li>
<li><a href="https://incident57.com/codekit/">Codekit</a></li>
</ul>


<h2>Installation</h2>

<ul>
<li>Run <code>bower install</code> to install the latest version of Foundation</li>
<li>Or, install Foundation&rsquo;s bower component through Codekit</li>
</ul>


<h2>Use It</h2>

<p>This theme presumes you have a working knowledge of how to create Wordpress themes.</p>

<ul>
<li><a href="http://codex.wordpress.org/Theme_Development">Learn about theme development</a></li>
<li><a href="http://codex.wordpress.org/images/1/18/Template_Hierarchy.png">Handy cheat sheet for template hierarchy and file naming</a></li>
</ul>


<h3>Theme Class File</h3>

<p><em>theme.class.php</em></p>

<p>This file contains and initializes our main theme class. All theme setup and customizations should go here.</p>

<h3>Theme Functions File</h3>

<p><em>functions.php</em></p>

<p>This file is loaded by Wordpress when the theme is loaded, so we bootstrap here.</p>

<p>It is also used as the name suggests, to create <em>theme functions</em> to be used in template files.</p>
